Vagrant/Ansible_Test/.vagrant/bundler/global.sol
Vagrant/Ansible_Test/.vagrant/machines/controller/virtualbox/action_provision
Vagrant/Ansible_Test/.vagrant/machines/controller/virtualbox/box_meta
Vagrant/Ansible_Test/.vagrant/machines/controller/virtualbox/private_key
Vagrant/Ansible_Test/.vagrant/machines/controller/virtualbox/synced_folders
Vagrant/Ansible_Test/.vagrant/machines/target/virtualbox/action_provision
Vagrant/Ansible_Test/.vagrant/machines/target/virtualbox/box_meta
Vagrant/Ansible_Test/.vagrant/machines/target/virtualbox/action_set_name
Vagrant/Ansible_Test/.vagrant/machines/target/virtualbox/creator_uid
Vagrant/Ansible_Test/.vagrant/machines/target/virtualbox/id
Vagrant/Ansible_Test/.vagrant/machines/target/virtualbox/index_uuid
Vagrant/Ansible_Test/.vagrant/machines/target/virtualbox/private_key
Vagrant/Ansible_Test/.vagrant/machines/target/virtualbox/vagrant_cwd
Vagrant/Ansible_Test/.vagrant/machines/target/virtualbox/synced_folders
Vagrant/ubuntu/.vagrant/bundler/global.sol
Vagrant/ubuntu/.vagrant/machines/default/virtualbox/action_provision
Vagrant/ubuntu/.vagrant/machines/default/virtualbox/action_set_name
Vagrant/ubuntu/.vagrant/machines/default/virtualbox/box_meta
Vagrant/ubuntu/.vagrant/machines/default/virtualbox/creator_uid
Vagrant/ubuntu/.vagrant/machines/default/virtualbox/id
Vagrant/ubuntu/.vagrant/machines/default/virtualbox/index_uuid
Vagrant/ubuntu/.vagrant/machines/default/virtualbox/private_key
Vagrant/ubuntu/.vagrant/machines/default/virtualbox/synced_folders
Vagrant/ubuntu/.vagrant/machines/default/virtualbox/vagrant_cwd
Vagrant/ubuntu/.vagrant/rgloader/loader.rb
Vagrant/file.txt
Vagrant/Ansible_Test/.vagrant/machines/controller/virtualbox/action_set_name
Vagrant/Ansible_Test/.vagrant/machines/controller/virtualbox/id
Vagrant/Ansible_Test/.vagrant/machines/controller/virtualbox/vagrant_cwd
Vagrant/Ansible_Test/.vagrant/machines/controller/virtualbox/index_uuid
